<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>Hello from Django</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae minus odit quae vitae accusamus. Ipsum sequi et suscipit voluptates sint ea omnis, totam veritatis, id, esse ad! Cupiditate, natus odio.
    Alias officiis velit nisi! Illo dicta neque, dolorum sunt, dolorem nisi, deleniti incidunt velit tenetur quae iusto. Provident commodi tempora, harum similique officiis dolore itaque praesentium blanditiis corporis omnis fuga!</p>
    <ul>
        {% for person in people %}
            <li>{{ person.name }} - {{ person.age }}</li>
        {% endfor %}
    </ul>
</body>
</html>